#!/bin/bash

export KUBE_DOCKER_REGISTRY="192.168.10.123:5000"

# note that the format of image tag should be like this v1.7.0-build000
export KUBE_DOCKER_IMAGE_TAG="v1.7.0-build000"

export KUBE_ROOT="/home/go_workspace/src/k8s.io/kubernetes"

export CONTROLLER=192.135.1.123

export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_PROJECT_NAME=
export OS_USERNAME=
export OS_PASSWORD=
export OS_TENANT_NAME=
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
export OS_VOLUME_API_VERSION=2
export OS_REGION_NAME=


export OS_AUTH_URL=http://$CONTROLLER:35357/v3
