#!/bin/bash

export KUBE_DOCKER_REGISTRY="192.168.10.123:5000"

# note that the format of image tag should be like this v1.7.0-build000
export KUBE_DOCKER_IMAGE_TAG="v1.7.0-build000"

# indicate the root path of kubernetes source code, for running compile
export KUBE_ROOT="/home/go_workspace/src/k8s.io/kubernetes"

# openstack credentials, for swift downloads
export OS_USERNAME=
export OS_PASSWORD=
export OS_TENANT_NAME=
export OS_AUTH_URL=
export OS_IDENTITY_API_VERSION=3
